<div>
<div id="header">
	<form action="#">
		<fieldset>
			<select id="cssedit_file" name="file">
				{{each(i,file) files}}
				<option value="${i}">${file}</option>
				{{/each}}
			</select>
		</fieldset>
	</form>
	<a id="sort" title="Enable Sorting" class="sort"></a>
	<a id="save" title="Save" class="save"></a>
	<a id="toggle_expand" title="Expand View"></a>
</div>
<div id="color_picker"/>
<div id="color_wrap"><div id="color"></div></div>
<div id="stylesheet" contenteditable="false" class="stylesheets">

</div>
</div>