<div class="wrap">
	<div id="header">
		<form action="#">
			<fieldset>
				<select id="cssedit_file" name="file">
					{{each(i,file) files}}
					<option value="${i}">${file}</option>
					{{/each}}
				</select>
			</fieldset>
		</form>
		<a class="save_as" title="Save As...">Save As...</a>
		<a class="save" title="Save" class="save">Save</a>
		<a class="sort" title="Enable Sorting" class="sort">Enable Sorting</a>
	</div>
	<div id="color_picker"/>
	<div id="color_wrap"><div id="color"></div></div>
	<div id="stylesheet" contenteditable="false" class="stylesheets">
	
	</div>
</div>