*{
	margin:    0;
	padding: 0;
}

html       {
	background:#eee;
	/*padding-left:5px;
	padding-top:5px;
	padding-bottom:5px;
	*/
}

/*
 this is a comment
*/

body{
	width:800px;
	margin:10px auto;
	background:#FFF;
	min-height:400px;
	padding:10px;
	font-family:Verdana, Arial, sans-serif;
	font-size:12px;
	color:#000;
}

h1{
	font-size:1.6em;
}