*{
	margin:0;
	padding:0;
}
body{
    background:#FFF;
    color:#000;
	font-family:Verdana, Arial, sans-serif;
	font-size:12px;
	color:#000;
}
#header{
	position:fixed;
	top:0;
	left:0;
    padding:10px;
	background:#fff;
	width:100%;
	box-shadow:0 0 5px rgba(0, 0, 0, 0.2);
}
fieldset{
	border:0;
}
#stylesheet{
	font-family:monospace;
	margin-top:40px;
    padding:10px;
}
.dec .properties{
	margin:5px 0 5px 10px;
	font-size: 0;
	
}
.dec .selector:after{
    content:" {";
    color:#424242;
}
.dec .property input{
	display:inline-block;
	margin-right:10px;
	vertical-align:bottom;
}
.dec .property .name{
    color:#638E4F;
}
.dec .property:focus{
    color:#449122;
}
.dec .property .name:after{
    content:":";
    color:#424242;
}
.dec .property .value{
    color:#5BACEF;
	display:inline-block;
	padding-left:4px;
}
.dec .property .value:focus{
    color:#158BF2;
}

.dec:after{
    content: "}";
    color:#424242;
}

.dec .value:after{
    content: ";";
    color:#424242;
}

.dec .selector, .dec .property, .dec .value{
    min-width:20px;
}

[contenteditable]{
	outline: 0 solid transparent;
}

.comment{
	white-space:pre;
	color:#F00;
	font-weight:bold;
}
.comment:before{
	content: "/*";
}

.comment:after{
	content: "*/";
}

.grabber{
	height:16px;
	width:100%;
}

.dec .name,.dec .value{
	display:inline;
	font-size: 12px;
}

.dec br{
	display:none;
}

#toggle_expand, #save, #sort{
	position:fixed;
	height:20px;
	width:20px;
	top:8px;
}

#save{
	right:5px;
}

#sort{
	right:32px;
	cursor: pointer !important;
}

#toggle_expand .ui-button-icon-primary, #save .ui-button-icon-primary, #sort .ui-button-icon-primary{
	left:2px;
}

#hints:empty{
	display: none;
}

#hints{
	background: rgba(0,0,0,.7);
	box-shadow: 0 0 5px #000;
	line-height:16px;
	position:fixed;
	list-style-type:none;
	color:#eee;
	padding:5px;
	font-size:1.1em;
}

#hints li{
	border-bottom: 1px solid #222;
}

#hints li.active{
	color: #FFF;
	font-weight: bold;
}

.property .handle{
	display: inline-block;
	width: 16px;
	height: 16px;
	margin-right: 4px;
	background: transparent url(theme/images/ui-icons_888888_256x240.png) -16px -224px no-repeat;
	cursor: n-resize;
	vertical-align: bottom;
}

#stylesheet.ui-sortable-enabled {
    cursor: n-resize;
}

#color_wrap{
	width: 50px;
	height: 50px;
	padding: 5px;
	position: fixed;
	display: none;
	background: #808080; /* 50 gray */
}

#color{
	width: 50px;
	height: 50px;
}

#color_picker{
	position: fixed !important;
}